#header()
	<ol class="breadcrumb">
	  <li><a href="$admurl/admin/welcome.html">首页</a></li>
	  <li><a href="#">资金管理</a></li>
	  <li class="active">线下扣款</li>
	</ol>
	<ul class="nav nav-pills">
	  <li role="presentation" class="active" ><a href="$admurl/admin/account/deduct_offline.html">用户列表</a></li>
	  <li role="presentation" ><a href="$admurl/admin/account/deduct_offline_list.html?status=0">线下扣款审核</a></li>
	</ul>	
	<div class="">
		<form id="userForm" name="userForm" action="$admurl/admin/account/deduct_offline.html" class="navbar-form">
		<input type="hidden" id="page" name="page" #if($!page) value="$page" #else value="1" #end/>
		<input type="hidden" id="ctype" name="ctype" value="$!ctype" />
		<div class="form-group">
		用户名:
	    <input type="text" class="form-control" placeholder="用户名" name="username" value="$!username">
	    真实姓名:
	    <input type="text" class="form-control" placeholder="真实姓名" name="realname" value="$!realname">
	    手机号码:
	    <input type="tel" class="form-control" placeholder="手机号" name="mobile" value="$!mobile">	
      	</div>
      	  <button type="submit" class="btn btn-default">搜索</button>
	    <br>
	    <br>		
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>用户名</th>
					<th>真实姓名</th>
					<th>手机号</th>
					<th>总金额</th>
					<th>可用金额</th>
					<th>提现冻结金额</th>
					<th>保证金冻结金额</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				#foreach($account in ${accountpage.result})  
				<tr>
					<td>$!account.username</td>
					<td>$!account.realName</td>
					<td>$!account.phone</td>
					<td>$!account.moneyTotal</td>
					<td>$!account.moneyUsable</td>
					<td>$!account.moneyWithdraw</td>
					<td>$!account.moneyInsure</td>
					<td><a href="$admurl/admin/account/deduct_offline.html?opt=view&uid=$!account.userId">扣款</a></td>
				</tr>
				#end
			</tbody>
		</table>
		#pagination($accountpage 'userForm')
		
		</form>
	</div>
	
#footer()