#header()
<script type="text/javascript" src="${admurl}/public/rooms/My97DatePicker/WdatePicker.js"></script>
<ol class="breadcrumb">
	<li><a href="$admurl/admin/welcome.html">首页</a></li>
	<li>资金管理</li>
	<li class="active">发放红包列表</li>
</ol>
<div class="">
	<form id="userHongbaoForm" name="userHongbaoForm" action="$admurl/admin/account/grantHongbao.html" class="navbar-form">
	<input type="hidden" id="page" name="page" #if($!page) value="$page" #else value="1" #end />
		<div class="form-group">
			用户名: <input type="text" class="form-control" placeholder="用户名" name="username" id="username" value="$!username">
			是否投资:
			<select class="form-control" name="status" id="status">
				<option #if($!status== '1') selected="selected" #end value="1">是</option>
				<option #if($!status== '') selected="selected" #end value="">全部</option>
				<option #if($!status== '0') selected="selected" #end value="0">否</option>
			</select>
			注册时间： <input type="text" id="startTime" name="startTime" class="form-control" value="$!startTime" onclick="WdatePicker({errDealMode:1,el:'startTime',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			到： <input type="text" id="endTime" name="endTime" class="form-control" value="$!endTime" onclick="WdatePicker({errDealMode:1,el:'endTime',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-default">搜索</button>
			&nbsp;&nbsp;&nbsp;<a onclick="exportxls()">导出EXCEL</a><br><br><br><br>
			红包类型:
			<select class="form-control" name="type" id="type">
				<option #if($!type== '1') selected="selected" #end value="1">普通红包</option>
				<option #if($!type== '0') selected="selected" #end value="0">金色红包</option>
				<option #if($!type== '9') selected="selected" #end value="9">银色红包</option>
			</select>
			红包金额: <input type="number" id="hongbao_money" name="hongbao_money">
			备注: <input type="text" id="remark" name="remark">
			<br><br>
			红包有效期： <input type="text" id="created_time" name="created_time" class="form-control" value="$!created_time" onclick="WdatePicker({errDealMode:1,el:'created_time',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			过期时间： <input type="text" id="expired_time" name="expired_time" class="form-control" value="$!expired_time" onclick="WdatePicker({errDealMode:1,el:'expired_time',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			&nbsp;&nbsp;&nbsp;<a onclick="grant()">发放</a>
		</div>
	<br>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>用户名</th>
					<th>真实姓名</th>
					<th>注册时间（时分秒）</th>
					<th>投资状态</th>
				</tr>
			</thead>
			<tbody>
				#foreach($user in ${userpage.result})
				<tr>
					<td>$!user.id</td>
					<td>$!user.username</td>
					<td>$!user.realname</td>
					#if($!user.createdAt)
					<td>$!dateTool.dateStr($!user.createdAt, 'yyyy-MM-dd HH:mm:ss')</td>
					#else
					<td></td>
					#end
     				#if($!user.totalTenderAccount>0)
     					<td>已投资</td>
					#else
						<td>未投资</td>
					#end
				</tr>
				#end
			</tbody>
		</table>
		#pagination($userpage 'userHongbaoForm')
	</form>
</div>
<script type="text/javascript">
	var xlsurl = ROOT_URL + '/admin/account/grantHongbaoExport.html?ctype=export';
	function exportxls() {
		var sou = "";
		var username = $("#username").val();
		if (username != null && username != "" && username != "undefine") {
			sou += "&username=" + username;
		}
		var sourceExtend = $("#sourceExtend").val();
		if (sourceExtend != null && sourceExtend != "" && sourceExtend != "undefine") {
			sou += "&sourceExtend=" + sourceExtend;
		}
		var status = $("#status").val();
		if (status != null && status != "" && status != "undefine") {
			if(status==0)
				sou += "&status_no=" + status;
			else
				sou += "&status=" + status;
		}
		var startTime = $("#startTime").val();
		if (startTime != null && startTime != "" && startTime != "undefine") {
			sou += "&startTime=" + startTime;
		}
		var endTime = $("#endTime").val();
		if (endTime != null && endTime != "" && endTime != "undefine") {
			sou += "&endTime=" + endTime;
		}
		if (sou != "") {
			location.href = xlsurl + sou;
		} else {
			location.href = xlsurl;
		}
	}
	var userurl = ROOT_URL + '/admin/account/grantHongbaoToUser.html?ctype=grant';
	function grant(){
		var sou = "";
		var username = $("#username").val();
		if (username != null && username != "" && username != "undefine") {
			sou += "&username=" + username;
		}
		var sourceExtend = $("#sourceExtend").val();
		if (sourceExtend != null && sourceExtend != "" && sourceExtend != "undefine") {
			sou += "&sourceExtend=" + sourceExtend;
		}
		var status = $("#status").val();
		if (status != null && status != "" && status != "undefine") {
			if(status==0)
				sou += "&status_no=" + status;
			else
				sou += "&status=" + status;
		}
		var startTime = $("#startTime").val();
		if (startTime != null && startTime != "" && startTime != "undefine") {
			sou += "&startTime=" + startTime;
		}
		var endTime = $("#endTime").val();
		if (endTime != null && endTime != "" && endTime != "undefine") {
			sou += "&endTime=" + endTime;
		}
		var type = $("#type").val();
		if (type != null && type != "" && type != "undefine") {
			sou += "&type=" + type;
		}
		
		var hongbao_money = $("#hongbao_money").val();
		if (hongbao_money != null && hongbao_money != "" && hongbao_money != "undefine") {
			sou += "&hongbao_money=" + hongbao_money;
		}else{
			alert("请输入金额");
			return;
		}
		var remark = $("#remark").val();
		if (remark != null && remark != "" && remark != "undefine") {
			remark = encodeURI(remark);
			sou += "&remark=" + remark;
		}
		var created_time = $("#created_time").val();
		if (created_time != null && created_time != "" && created_time != "undefine") {
			sou += "&created_time=" + created_time;
		}
		var expired_time = $("#expired_time").val();
		if (expired_time != null && expired_time != "" && expired_time != "undefine") {
			sou += "&expired_time=" + expired_time;
		}
		if(confirm("确认发放？")){ 
			if (sou != "") {
				location.href = userurl + sou;
			} else {
				location.href = userurl;
			}
		}
	}
</script>

#footer()
