#header()
<script type="text/javascript" src="${admurl}/public/rooms/My97DatePicker/WdatePicker.js"></script>
<ol class="breadcrumb">
	<li><a href="$admurl/admin/welcome.html">首页</a></li>
	<li>支付相关</li>
	<li class="active">提现列表</li>
</ol>
<div class="">
	<form id="withForm" name="rechargeForm" action="$admurl/admin/withdraw_list.html" class="navbar-form">
		<input type="hidden" id="page" name="page" #if($!page) value="$page" #else value="1" #end />
		<div class="form-group">
			用户名： <input type="text" class="form-control" placeholder="用户名" id="username" name="username" value="$!username">
			真实姓名： <input type="text" class="form-control" placeholder="真实姓名" id="realname" name="realname" value="$!realname">
			开始时间： <input type="text" id="startTime" name="startTime" class="form-control" placeholder="开始时间" value="$!startTime" onclick="WdatePicker({errDealMode:1,el:'startTime',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			结束时间： <input type="text" id="endTime" name="endTime" class="form-control" placeholder="结束时间" value="$!endTime" onclick="WdatePicker({errDealMode:1,el:'endTime',dateFmt:'yyyy-MM-dd HH:mm:ss'})"><br><br>
			提现订单号: <input type="text" class="form-control" placeholder="订单号" id="tradeOrder" name="tradeOrder" value="$!tradeOrder">
			提现金额: <input type="text" class="form-control" placeholder="提现金额" id="moneyWithdraw" name="moneyWithdraw" value="$!moneyWithdraw">
			提现状态: 
			<select class="form-control" name="status" id="status">
				<option #if($!status== '') selected="selected" #end value="">全部</option>
				<option #if($!status== '1') selected="selected" #end value="1">提现成功</option>
				<option #if($!status== '0') selected="selected" #end value="0">提现失败</option>
			</select>
			&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-default">搜索</button>
			&nbsp;&nbsp;&nbsp;<a onclick="exportxls()">导出EXCEL</a><br><br>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>用户名</th>
					<th>真实姓名</th>
					<th>提现金额</th>
					<th>提现订单号</th>
					<th>提现申请时间</th>
					<!-- <th>审核人</th>
					<th>审核时间</th>
					<th>审核备注</th> -->
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				#foreach($withdraw in $!{withdrawpage.result})
				<tr>
					<td>$!withdraw.id</td>
					<td>$!withdraw.username</td>
					<td>$!withdraw.realname</td>
					<td>$!numberTool.format2Str($!withdraw.moneyWithdraw)</td>
					<td>$!withdraw.tradeOrder</td>
					<td>$!dateTool.dateStr($!withdraw.createdAt, 'yyyy-MM-dd HH:mm:ss')</td>
					<!-- <td>$!withdraw.updatedByUsername</td>
					<td>$!dateTool.dateStr($!withdraw.updatedAt, 'yyyy-MM-dd HH:mm:ss')</td>
					<td>$!withdraw.remark</td> -->
					<td>
					#if($!withdraw.status == 1)
						成功
					#elseif($!withdraw.status == 2)
						失败
						#elseif($!withdraw.status == 3)
						银行正在处理
					#elseif($!withdraw.status == 0)
						失败
					#end</td>
				</tr>
				#end
			</tbody>
		</table>
		<b>提现总金额：</b>
		<font color="red">$!numberTool.format2Str($!uw.withdrawtotal)</font>
		#pagination($!withdrawpage 'withForm')
	</form>
</div>
#if($!msg)
<script type="text/javascript">
	swal("$!msg")
</script>
#end
<script type="text/javascript">
	var xlsurl = ROOT_URL + '/admin/withdraw_list.html?type=export';
	function exportxls() {
		var sou = "";
		var username = $("#username").val();
		if (username != "") {
			sou += "&username=" + username;
		}
		var realname = $("#realname").val();
		if (realname != "") {
			sou += "&realname=" + realname;
		}
		var startTime = $("#startTime").val();
		if (startTime != null && startTime != "" && startTime != "undefine") {
			sou += "&startTime=" + startTime;
		}
		var endTime = $("#endTime").val();
		if (endTime != null && endTime != "" && endTime != "undefine") {
			sou += "&endTime=" + endTime;
		}
		var tradeOrder = $("#tradeOrder").val();
		if (tradeOrder != "") {
			sou += "&tradeOrder=" + tradeOrder;
		}
		var moneyWithdraw = $("#moneyWithdraw").val();
		if (moneyWithdraw != null) {
			sou += "&moneyWithdraw=" + moneyWithdraw;
		}
		var status = $("#status").val();
		if (status != null) {
			sou += "&status=" + status;
		}
		if (sou != "") {
			location.href = xlsurl + sou;
		} else {
			location.href = xlsurl;
		}
	}
</script>
#footer()
