#header(11)
	<div class="pusher">
		<div class="ui page one column grid">
			<div class="ui column">
				<div class="teal ui segment">
					<h3 class="ui ribbon label teal">系统信息</h3>
					<ul class="ui vertical menu secondary">
						<li class="item">
							操作系统:
							<span class="ui label red">$!osName</span>
						</li>
						<li class="item">
							版本:
							<span class="ui label red">$!osVersion</span>
						</li>
						<li class="item">
							运行环境:
							<span class="ui label red">JDK $!javaVersion</span>
						</li>
						<li class="item">
							数据库:
							<span class="ui label red">MYSQL</span>
						</li>
						<li class="item">
							授权:
							<span class="ui label green">已授权</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="ui column">
				<form class="ui form">
					<div class="field">
						<label>Username</label>
						<input type="text" placeholder="username">
					</div>
					<div class="field">
						<label>Date</label>
						<input type="text" class="xmdate">
					</div>
				</form>
				
				<div class="ui pagination menu">
				  <a class="icon item">
				    <i class="left arrow icon"></i>
				  </a>
				  <a class="active item">
				    1
				  </a>
				  <div class="disabled item">
				    ...
				  </div>
				  <a class="item">
				    10
				  </a>
				  <a class="item">
				    11
				  </a>
				  <a class="item">
				    12
				  </a>
				  <a class="icon item">
				    <i class="right arrow icon"></i>
				  </a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">swal("Here's a message!")</script>
	
#footer()