#header()

	<ol class="breadcrumb">
	  <li><a href="$admurl/admin/welcome.html">首页</a></li>
	  <li>权限管理</li>
	  <li class="active">设置用户角色</li>
	</ol>
	
	<div class="">
		<form class="form-horizontal" action="$admurl/admin/power/role_select.html?opt=upd&uid=$!user.id" method="post" id="passform" name="passform">
		  <input type="hidden" id="sltstr" name="sltstr">
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">用户名:</label>
		    <div class="col-sm-3">
		      <p class="form-control-static"><b>$!user.username</b></p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">选择角色:</label>
		    <div class="col-sm-3">
	        	<select id="authcode" name="authcode">
				  #foreach($role in $!roleList)
				  	#if($role.name == $!au.itemName)
				  	<option value="$!role.name" selected="selected">$!role.description</option>
				  	#else
				  	<option value="$!role.name">$!role.description</option>
				  	#end
				  #end
				</select>	
		    </div>
		  </div>		  
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="button" class="btn btn-primary" onclick="javascript:history.go(-1);">返回</button>
		      <button type="submit" class="btn btn-primary" id="upbut">更新</button>
		    </div>
		  </div>			
		</form>
	</div>
<script>
/** 
 *动态的给左边的下拉列表创建选项 
  *具体情况可以从数据库读取数据动态创建选项 
*/ 
	$(function(){ 
	     
		$("#delete").click(function(){ 
		              
			if($("#fb_list option:selected").length>0){ 
		                       
				$("#fb_list option:selected").each(function(){ 
		                            
					$("#select_list").append("<option value='"+$(this).val()+"'>"+$(this).text()+"</option"); 
		 			$(this).remove();  
		                       
				}) 
		              
			}else{ 
		                       
				alert("请选择要删除的权限！"); 
		             
		 	} 
		      
		}) 
	})
	
	$(function(){ 
	             
		$("#add").click(function(){ 
	                     
			if($("#select_list option:selected").length>0){ 
			                               
				$("#select_list option:selected").each(function(){ 
			                                          
					$("#fb_list").append("<option value='"+$(this).val()+"'>"+$(this).text()+"</option"); 
					$(this).remove();  
			                               
				}) 
			                      
			}else{                             
				alert("请选择要添加的权限！");        
			}     
		}) 
	})	
	
	$(function(){ 
		
		$('#upbut').click(function(){
			
			 selectAll(document.getElementById("fb_list"));
			 
			 var code = $('#authcode').val();
			 
			 var des = $('#authDescription').val();
			 
			 if(code==null||code==''){
				 
				 alert("请填写角色code"); 
				 return false;
			 }
			 
			 if(des==null||des==''){
				 
				 alert("请填写角色名称"); 
				 return false;
			 }			 
			 
			 
			
			$("#passform").submit();
			return true;
			
		})
	})	
	
	
    function selectAll(slt){
		
		var sltstr ;
	
        for (var i=0;i<slt.options.length;i++ ){ 
        	if(i==0){
        		
        		sltstr = ($(slt.options[i]).attr('value') );
        		
        	}else{
        		
        		sltstr = sltstr+","+($(slt.options[i]).attr('value') );
        	}
        		
        }  
        
        $("#sltstr").val(sltstr);
    } 
</script>
#footer()