#header()
<script type="text/javascript" src="${admurl}/public/rooms/My97DatePicker/WdatePicker.js"></script>
<ol class="breadcrumb">
	<li><a href="$admurl/admin/welcome.html">首页</a></li>
	<li>资金管理</li>
	<li class="active">投标记录</li>
</ol>
<div class="">
	<form id="borrowTender" name="borrowTender" action="$admurl/admin/borrow/all_tender_list.html" class="navbar-form">
		<input type="hidden" id="page" name="page" #if($!page) value="$page" #else value="1" #end />
		<div class="form-group">
			用户名: <input type="text" class="form-control" placeholder="用户名" id="username" name="username" value="$!username">
			项目名称: <input type="text" class="form-control" placeholder="项目名称" id="borrowname" name="borrowname" value="$!borrowname">
			投标金额: <input type="text" class="form-control" placeholder="投标金额" id="money" name="money" value="$!money">
			开始时间： <input type="text" id="startTime" name="startTime" class="form-control" placeholder="开始时间" value="$!startTime" onclick="WdatePicker({errDealMode:1,el:'startTime',dateFmt:'yyyy-MM-dd HH:mm:ss'})"><br><br>
			结束时间： <input type="text" id="endTime" name="endTime" class="form-control" placeholder="结束时间" value="$!endTime" onclick="WdatePicker({errDealMode:1,el:'endTime',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			状态:
			<select class="form-control" name="status">
				<option #if($!status== '') selected="selected" #end value="">全部</option>
				<option #if($!status==0) selected="selected" #end value="0">投标新建</option>
				<option #if($!status==1) selected="selected" #end value="1">投标成功</option>
				<option #if($!status==2) selected="selected" #end value="2">投标放款成功</option>
				<option #if($!status==9) selected="selected" #end value="2">投标失败</option>
			</select>
			投资时间： <input type="text" id="creatAtTimes" name="creatAtTimes" class="form-control" placeholder="投资时间" value="$!creatAtTimes" onclick="WdatePicker({errDealMode:1,el:'creatAtTimes',dateFmt:'yyyy-MM-dd HH:mm:ss'})">至
					<input type="text" id="creatAtTimeb" name="creatAtTimeb" class="form-control" placeholder="投资时间" value="$!creatAtTimeb" onclick="WdatePicker({errDealMode:1,el:'creatAtTimeb',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-default">搜索</button>
			&nbsp;&nbsp;&nbsp;<a onclick="exportxls()">导出EXCEL</a><br><br>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>编号</th>
					<th>用户ID</th>
					<th>用户名</th>
					<th>真实姓名</th>
					<th>投标项目</th>
					<th>投标金额</th>
					<th>创建时间</th>
					<th>状态</th>
					<!--<th>操作</th>-->
				</tr>
			</thead>
			<tbody>
				#foreach($tender in ${tenderpage.result})
				<tr>
					<td>$!tender.id</td>
					<td>$!tender.userId</td>
					<td>$!tender.username</td>
					<td>$!tender.realname</td>
					<td>$!tender.borrowname</td>
					<td>$!numberTool.format2Str($!tender.money)</td>
					<td>$!dateTool.dateStr($!tender.addtime, 'yyyy-MM-dd HH:mm:ss')</td>
					<td>
					#if($!tender.status == 0)
						投标新建
					#elseif($!tender.status == 1)
						投标成功
					#elseif($!tender.status == 2)
						投标放款成功
					#elseif($!tender.status == 9)
						投标失败
					#end
					</td>
					<!-- 	<td><a href="$admurl/admin/account/charge_offline.html?opt=view&uid=$!account.userId">充值</a></td> -->
				</tr>
				#end
			</tbody>
		</table>
		<b>投标总金额：</b>
		<font color="red">$!numberTool.format2Str($!bt.totaltendermoney)</font>
		#pagination($tenderpage 'borrowTender')
	</form>
</div>
#if($!msg)
<script type="text/javascript">
	swal("$!msg")
</script>
#end
<script type="text/javascript">
	var xlsurl = ROOT_URL + '/admin/borrow/all_tender_list.html?type=export';
	function exportxls() {
		var sou = "";
		var username = $("#username").val();
		if (username != "") {
			sou += "&username=" + username;
		}
		var borrowname = $("#borrowname").val();
		if (borrowname != "") {
			sou += "&borrowname=" + borrowname;
		}
		var startTime = $("#startTime").val();
		if (startTime != null && startTime != "" && startTime != "undefine") {
			sou += "&startTime=" + startTime;
		}
		var endTime = $("#endTime").val();
		if (endTime != null && endTime != "" && endTime != "undefine") {
			sou += "&endTime=" + endTime;
		}
		var money = $("#money").val();
		if (money != "") {
			sou += "&money=" + money;
		}
		if (sou != "") {
			location.href = xlsurl + sou;
		} else {
			location.href = xlsurl;
		}
	}
</script>
#footer()
