#header()
<ol class="breadcrumb">
	<li><a href="$admurl/admin/welcome.html">首页</a></li>
	<li>理财管理</li>
	<li><a href="$admurl/admin/borrow/list.html">产品列表</a></li>
	<li>$!borrow.name</li>
	<li class="active">投标详情</li>
</ol>
<div class="">
	<div class="form-group">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>投资者</th>
					<th>投资金额</th>
					<th>扣款金额</th>
					<th>红包抵扣</th>
					<th>状态</th>
					<th>投资时间</th>
				</tr>
			</thead>
			<tbody>
				#foreach($tender in $tenderlist)
				<tr>
					<td>$!tender.username</td>
					<td>$tender.money</td>
					<td>$tender.account</td>
					<td>
					#set($hb = $!textTool.subtract($!tender.money , $!tender.account))
					#if($!hb>0)
					<b>$!hb</b>
					#else
					$!hb
					#end
					</td>
					<td>
						#if($!tender.status==0)
							  打款失败
						#elseif($!tender.status==1)
							 资金冻结成功
						 #elseif($!tender.status==2)
							 放款成功
						 #elseif($!tender.status==3)
						   	  还款成功
						  #elseif($!tender.status==5)
						   	  模拟投标
						 #else 
						            失败
						#end
					</td>
					<td>$dateTool.dateStr($!tender.addtime, 'yyyy年MM月dd日 HH:mm:ss')</td>
				</tr>
				#end
			</tbody>
		</table>
		<div class="form-group">
			投资总笔数:#set($numUser = $userNumFail + $userNumSucc)<b>$!numUser</b>、
			标的总金额:<b>$!borrow.account</b>、
			投资总金额:<b>$!moneyAll</b>、
			扣款总金额:<b>$!accountAll</b>、
			#set($hbAll = $!textTool.subtract($!moneyAll , $!accountAll))
			红包抵扣总金额:<b>$!hbAll</b>
			<!-- 实际投标金额:<b>$!borrow.accountYes</b> -->
		</div>
	</div>
</div>

#footer()
