#header()
<script type="text/javascript" src="${admurl}/public/rooms/My97DatePicker/WdatePicker.js"></script>
<ol class="breadcrumb">
	<li><a href="$admurl/admin/welcome.html">首页</a></li>
	<li class="active">理财管理</li>
	<li class="active">赎回申请列表</li>
</ol>
<style>
   .tocheck,#tocheck{
      cursor:pointer;
   }
   .th-c > th{
      text-align:center;
   }
   .btn-btn > span{
      cursor: pointer;
    display: inline-block;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    border-radius: 10px;
   }
   .btn-btn > span:hover{
      box-shadow: 0 0 10px 2px #4C4A4A;
   }
   .btn-btn >span:nth-of-type(1){
      background-color: #61A744;
   }
   .btn-btn >span:nth-of-type(2){
       background-color: #B74141;
       margin: 0 0 0 30px;
   }
</style>
<div class="">
	<form id="shuhuiForm" name="shuhuiForm" action="$admurl/admin/borrow/shuhuilist.html" class="navbar-form" method="post">
		<input type="hidden" id="page" name="page" #if($!page) value="$page" #else value="1" #end />
		<div class="form-group">
			用户名: <input type="text" class="form-control" style="width: 200px" placeholder="用户名" id="tenderName" name="tenderName" value="$!tenderName">
			项目名称: <input type="text" class="form-control" style="width: 200px" placeholder="项目名称" id="borrowName" name="borrowName" value="$!borrowName">
			开始时间： <input type="text" id="startTime" name="startTime" class="form-control" placeholder="开始时间" value="$!startTime" onclick="WdatePicker({errDealMode:1,el:'startTime',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			结束时间： <input type="text" id="endTime" name="endTime" class="form-control" placeholder="结束时间" value="$!endTime" onclick="WdatePicker({errDealMode:1,el:'endTime',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			状态:
			<select class="form-control" name="status">
				<option #if($!status== '') selected="selected" #end value="">全部</option>
				<option #if($!status==0) selected="selected" #end value="0">未审核审核</option>
				<option #if($!status==1) selected="selected" #end value="1">审核通过</option>
				<option #if($!status==2) selected="selected" #end value="2">审核未通过</option>
				<option #if($!status==3) selected="selected" #end value="3">申请已赎回</option>
			</select>
			&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-default">搜索</button><br><br>
			&nbsp;&nbsp;&nbsp;<a onclick="exportxls()">导出EXCEL</a><br><br>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr class="th-c">
				    <th><img src="${admurl}/dist/images/checkbox.png" id="tocheck" data-type="0"></th>
					<th>赎回申请编号</th>
					<th>客户ID</th>
					<th>用户名</th>
					<th>姓名</th>
					<th>项目名称</th>
					<th>还款人</th>
					<th>投资时间</th>
					<th>赎回申请时间</th>
					<th>利息计算时间(天)</th>
					<th>利率</th>
					<th>赎回本金</th>
					<th>赎回利息</th>
					<th>赎回本息</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				#foreach($redmp in ${redemptionPage.result})
				<tr>
				    <td><img src="${admurl}/dist/images/checkbox.png" class="tocheck" data-id="$!redmp.id"></td>
					<td>$!redmp.id</td>
					<td>$!redmp.tenderUserId</td>
					<td>$!redmp.tenderName</td>
					<td>$!redmp.tenderRealname</td>
					<td>$!redmp.borrowName</td>
					<td>$!redmp.borrowerName</td>
					<td>$!dateTool.dateStr($!redmp.tenderTime, 'yyyy-MM-dd HH:mm:ss')</td>
					<td>$!dateTool.dateStr($!redmp.redemptionCommitTime, 'yyyy-MM-dd HH:mm:ss')</td>
					<td>$!redmp.interestTime</td>
					<td>$!redmp.Apr</td>
					<td>$!redmp.redemptionMoney</td>
					<td>$!redmp.redemptionInterest</td>
					<td>$!redmp.redemptionRepayaccount</td>
					<td>
					#if($!redmp.status==0)
						未审核|<a href="$admurl/admin/borrow/updateshuhuiStatusAndRedemptiontimeSingle.html?id=$!redmp.id">通过审核</a>
						<a href="$admurl/admin/borrow/notPassSingle.html?id=$!redmp.id">不通过</a>
					#elseif($!redmp.status==1)
						审核通过
					#elseif($!redmp.status==2)
						审核未通过
					#elseif($!redmp.status==3)
						申请已赎回
					#end
					</td>
				</tr>
				#end
			</tbody>
		</table>
		<div class="btn-btn"><span>批量通过</span><span>批量拒绝</span></div>
		#pagination($redemptionPage 'shuhuiForm')
	</form>
</div>
#if($!msg)
<script type="text/javascript">
	swal("$!msg")
</script>
#end
<script type="text/javascript">
	var xlsurl = ROOT_URL + '/admin/borrow/shuhuilist.html?type=export';
	function exportxls() {
		var sou = "";
		var username = $("#username").val();
		if (username != "") {
			sou += "&username=" + username;
		}
		var borrowname = $("#borrowname").val();
		if (borrowname != null && borrowname != "" && borrowname != "undefine") {
			sou += "&borrowname=" + borrowname;
		}
		var startTime = $("#startTime").val();
		if (startTime != null && startTime != "" && startTime != "undefine") {
			sou += "&startTime=" + startTime;
		}
		var endTime = $("#endTime").val();
		if (endTime != null && endTime != "" && endTime != "undefine") {
			sou += "&endTime=" + endTime;
		}
		if (sou != "") {
			location.href = xlsurl + sou;
		} else {
			location.href = xlsurl;
		}
	}
</script>
<script>
var ajaxArray=[];
   $(function(){
	   $(".tocheck").on('click',function(){
		   if(/checkbox/.test($(this).attr("src"))){
			   $(this).attr("src","${admurl}/dist/images/lv.png")
			   ajaxArray.push($(this).data("id"));
			   console.log(ajaxArray);
		   }else{
			   $(this).attr("src","${admurl}/dist/images/checkbox.png")
			   ajaxArray.splice(jQuery.inArray($(this).data("id"),ajaxArray),1);
			   console.log(ajaxArray);
		   }
	   });
	   $("#tocheck").on('click',function(){
		    var self=$(this);
		    if(/checkbox/.test($(this).attr("src"))){
		       $(this).attr("src","${admurl}/dist/images/lv.png")
			}else{
			  $(this).attr("src","${admurl}/dist/images/checkbox.png")
		   }
		   if($(this).data("type")=="0"){
			   ajaxArray=[];
			   $(".tocheck").each(function(){
				   $(this).attr("src","${admurl}/dist/images/lv.png")
				   ajaxArray.push($(this).data("id"));
			   });
			   self.data("type","1");
			   console.log(ajaxArray);
		   }else{
			   ajaxArray=[];
			   $(".tocheck").each(function(){
				   $(this).attr("src","${admurl}/dist/images/checkbox.png")
			   });
			   self.data("type","0");
			   console.log(ajaxArray);
		   }
		   
	   });
	   
	   $(".btn-btn >span:nth-of-type(1)").on('click',function(){
		   jQuery.ajax({
			   type:"post",
			   url:"$admurl/admin/borrow/updateshuhuiStatusAndRedemptiontime.html?ajaxArray="+ajaxArray.join(","),
			   success:function(res){
				   if(res == 0){
					   swal("存在重复提交的审核！")
					   $(".confirm").on('click',function(){
						   window.location.href="$admurl/admin/borrow/shuhuilist.html";
					   })
				   }else{
					   swal("批量审核成功！");
					   $(".confirm").on('click',function(){
						   window.location.href="$admurl/admin/borrow/shuhuilist.html";
					   })
				   }
			   },
			   error:function(){
			   }
		   });
	   })
	   $(".btn-btn >span:nth-of-type(2)").on('click',function(){
		   jQuery.ajax({
			   type:"post",
			   url:"$admurl/admin/borrow/notPass.html?ajaxArray="+ajaxArray.join(","),
			   success:function(res){
				   if(res == 0){
					   swal("存在重复提交的审核！")
					   $(".confirm").on('click',function(){
						   window.location.href="$admurl/admin/borrow/shuhuilist.html";
					   })
				   }else{
					   swal("批量审核成功！");
					   $(".confirm").on('click',function(){
						   window.location.href="$admurl/admin/borrow/shuhuilist.html";
					   })
				   }
			   },
			   error:function(){
			   }
		   });
	   })
   });
</script>
#footer()
