#header()
	<ol class="breadcrumb">
	  <li><a href="$admurl/admin/welcome.html">首页</a></li>
	  <li><a>配资相关</a></li>
	  <li class="active">配资设定</li>
	</ol>
	<p>
		<a href="$admurl/admin/plan/createsetting.html"><button type="button" class="btn btn-success" >创建配资设定</button></a>
	</p>
	<div class="">
		<form id="plansetForm" name="plansetForm" action="$admurl/admin/plan/setshow.html">
		<input type="hidden" id="page" name="page" #if($!page) value="$page" #else value="1" #end/>
		<table class="table table-bordered table-hover">
			<thead>
				<tr >
					<th>ID</th>
					<th>类型</th>
					<th>配资倍率</th>
					<th>状态</th>
					<th>创建人</th>
					<th>批准人</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				#foreach($set in ${setpage.result})  
				<tr>
					<td>$!set.id</td>
					#if($!set.type==1)
					<td>按天配资</td>
					#elseif($!set.type==2)
					<td>按月配资</td>
					#elseif($!set.type==3)
					<td>免费体验</td>
					#end
					<td>$!set.power</td>
					#if($!set.status==0)
					<td>新建</td>
					#else
					<td>已批准</td>
					#end
					<td>$!set.createName</td>
					<td>$!set.operateName</td>
					<td class="text-center"><a href="$admurl/admin/plan/createsetting.html?opt=update&pid=$!set.id">审批</a></td>
				</tr>
				#end
			</tbody>
		</table>
		#pagination($setpage 'plansetForm')
		
		</form>
	</div>
	#if($!msg)
	<script type="text/javascript">swal("$!msg")</script>
	#end	
#footer()