	<div class="nav">
		<ul class="nav-menu">
			<li data-item="1" class="nav-menu-item item-1">理财管理</li>
			<li data-item="2" class="nav-menu-item item-2">资金管理</li>
			<li data-item="4" class="nav-menu-item item-3">还款管理</li>
			<li data-item="9" class="nav-menu-item item-4">运营分析</li>
			<li data-item="5" class="nav-menu-item item-5 active">首页预览</li>
			<li data-item="3" class="nav-menu-item item-6">用户管理</li>
			<li data-item="6" class="nav-menu-item item-7">栏目管理</li>
			<li data-item="7" class="nav-menu-item item-8">权限管理</li>
			<li data-item="8" class="nav-menu-item item-9">系统管理</li>
		</ul>
		<div class="arrow-up-btn">向上</div>
		<div class="arrow-down-btn">向下</div>
		<div class="nav-sub-menu" data-item="1">
			<ul>
				<li><a data-item="1" href="${admurl}/admin/borrow/opborrow_add.html.html">添加理财产品</a></li>
				<li><a data-item="2" href="${admurl}/admin/borrow/list.html?status=0">理财列表</a></li>
				<!--<li><a data-item="3" href="${admurl}/admin/borrow/list.html?status=2">融资复审</a></li>
				<li><a data-item="4" href="${admurl}/admin/borrow/all_tender_list.html">投标记录</a></li>-->
			</ul>
		</div>
		<div class="nav-sub-menu" data-item="2">
			<ul>
				<li><a data-item="1" href="${admurl}/admin/recharge_list.html">充值记录</a></li>
				<li><a data-item="2" href="${admurl}/admin/account/user_account_list.html">用户资金记录</a></li>
				<li><a data-item="3" href="${admurl}/admin/withdraw_list.html">提现记录</a></li>
				<li><a data-item="4" href="${admurl}/admin/borrow/all_tender_list.html">投标记录</a></li>
				<li><a data-item="5" href="${admurl}/admin/account/account_list.html">资金明细记录</a></li>
				<li><a data-item="6" href="${admurl}/admin/account/user_hongbao_list.html">红包使用记录</a></li>
			</ul>
		</div>
				
		<div class="nav-sub-menu" data-item="3">
			<ul>
				<li><a data-item="1" href="${admurl}/admin/member/webuser.html?ctype=web">前台用户</a></li>
				<li><a data-item="2" href="${admurl}/admin/member/webuser.html?ctype=back">后台用户</a></li>
				<!--  
				<li><a data-item="3" href="javascript:void(0);">实名认证管理</a></li>
				<li><a data-item="4" href="javascript:void(0);">认证材料</a></li>
				-->
			</ul>
		</div>
		
		<div class="nav-sub-menu" data-item="4">
			<ul>
				<li><a data-item="1" href="${admurl}/admin/borrow/no_repayment_list.html">未还款列表</a></li>
				<li><a data-item="2" href="${admurl}/admin/borrow/repayment_list.html">已还款列表</a></li>
			</ul>
		</div>
		  

		<div class="nav-sub-menu" data-item="6">
			<ul>
				<li><a data-item="1" href="${admurl}/admin/artlist.html">文章管理</a></li>
				<!--<li><a data-item="2" href="${admurl}/admin/system/links_list.html">友情链接管理</a></li>-->
			</ul>
		</div>
		<div class="nav-sub-menu" data-item="7">
			<ul>
				<li><a data-item="1" href="${admurl}/admin/power/role_manageList.html">角色管理</a></li>
				<li><a data-item="2" href="${admurl}/admin/power/powerlist.html">用户角色</a></li>
				<li><a data-item="3" href="${admurl}/admin/auth/chgPass.html">修改密码</a></li>
			</ul>
		</div>
		<div class="nav-sub-menu" data-item="8">
			<ul>
				<li><a data-item="1" href="${admurl}/admin/system/setting.html">基础配置</a></li>
				<!--  
				<li><a data-item="2" href="javascript:void(0);">协议管理</a></li>
				<li><a data-item="3" href="javascript:void(0);">合同管理</a></li>
				-->
				<!--<li><a data-item="4" href="${admurl}/admin/usercaptcha_list.html">验证码管理</a></li>-->
				<!--  
				<li><a data-item="5" href="javascript:void(0);">短信管理</a></li>
				<li><a data-item="6" href="javascript:void(0);">操作日志</a></li>
				-->
			</ul>
		</div>
		<div class="nav-sub-menu" data-item="9">
			<ul>
				<li><a data-item="1" href="javascript:void(0);">待办事项</a></li>
				<li><a data-item="2" href="javascript:void(0);">运营信息</a></li>
				<li><a data-item="3" href="javascript:void(0);">用户分析</a></li>
				<li><a data-item="4" href="javascript:void(0);">金额分析</a></li>
			</ul>
		</div>
	</div>