<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc.xsd"
	default-autowire="byName">
	<!-- springMVC.View部分 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix">
			<value>.html</value>
		</property>
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<!-- FULL、LONG、MEDIUM、SHORT、DEFAULT $!dateTool.format("FULL", date)-->
		<property name="toolboxConfigLocation">
			<value>/WEB-INF/classes/conf/toolbox.xml</value>
		</property>
		<property name="contentType" value="text/html;charset=utf-8" />
	</bean>
	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>/</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="directive.foreach.counter.name">index</prop>
				<prop key="directive.foreach.counter.initial.value">1</prop>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
				<prop key="contentType">text/html;charset=utf-8</prop>
				<prop key="velocimacro.library">
					/velocity/web.vm, /velocity/page.vm
				</prop>
			</props>
		</property>
	</bean>

	<!-- springMVC异常处理部分  -->
	  
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	</bean>
	<!--
	<bean id="exceptionResolver" class="com.tiantian.xxx.web.handler.ExceptionHandler"/>-->
	
	<!-- 配置springMVC拦截器 -->
	<!-- <bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="webInterceptor" />
				<ref bean="loginInterceptor" />
				<ref bean="authInterceptor" />
			</list>
		</property>
	</bean>
	<bean id="webInterceptor" class="com.dept.web.general.interceptor.WebInterceptor" />
	<bean id="loginInterceptor" class="com.dept.web.general.interceptor.LoginInterceptor" />
	<bean id="authInterceptor" class="com.dept.web.general.interceptor.AuthInterceptor" /> -->
	<!-- end -->
	
	<!-- <bean id="systemInfoListener" class="com.dept.web.general.listener.SystemInfoListener" /> -->
</beans> 
